name: backend-ci

on:
  push:
    paths:
      - "backend/**"
      - ".github/workflows/backend-ci.yml"
  pull_request:
    paths:
      - "backend/**"
      - ".github/workflows/backend-ci.yml"

jobs:
  login-to-amazon:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: AWS login
        uses: ./.github/actions/aws-login
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

  backend:
    needs: [ login-to-amazon ]
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: AWS login
        uses: ./.github/actions/aws-login
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          cache: "pip"
          cache-dependency-path: |
            backend/requirements.txt
            backend/test-requirements.txt

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install -r test-requirements.txt

      - name: Lint (ruff)
        run: ruff check .

      - name: Format check (black)
        run: black --check .

      - name: Import order check (isort)
        run: isort --check-only .

      - name: Tests (pytest)
        run: pytest tests/

      - name: Docker build
        run: |
          IMAGE_TAG=${GITHUB_SHA::7}
          docker build -t deployment_tool:${IMAGE_TAG} .
          docker tag deployment_tool:${IMAGE_TAG} 622711946516.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/deployment_tool:${IMAGE_TAG}
          docker tag deployment_tool:${IMAGE_TAG} 622711946516.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/deployment_tool:latest

      - name: Docker push
        run: |
          IMAGE_TAG=${GITHUB_SHA::7}
          docker push 622711946516.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/deployment_tool:${IMAGE_TAG}
          docker push 622711946516.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/deployment_tool:latest
